{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%} Страница авторизации {%endblock%}

{% block css_additional %}
<link rel="stylesheet" href=" {% static 'qfd_online/css/authorization.css' %}">
{%endblock%}

{%block content%}

{%include 'includes/navbar_for_registration.html'  %}
<body>

    <div class="container">
        <div class="login-form">
            <div class="input-container">
                <img src="{% static 'qfd_online/img/Email.png' %}" alt="Email Icon" class="icon"> <!-- Вставьте ссылку на иконку почты -->
                <input type="email" placeholder="Почта">
            </div>
            <div class="input-container">
                <img src="{% static 'qfd_online/img/Password.png' %}" alt="Email Icon" class="icon">
                <input type="password" placeholder="Пароль">
            </div>
            <button class="login-btn">Войти</button>
            <div class="links">
                <a href="#" class="link">Регистрация</a>
                <span class="separator">|</span>
                <a href="#" class="link">Забыли пароль</a>
            </div>
        </div>
    </div>
</body>





{%endblock%}

