{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    {% block css_additional %}
    {% endblock %}

</head>
<body>

{% block content %}

{% endblock %}
</body>
</html>