{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/data_base.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
<div class="title-bar">
        <h1>База данных</h1>
        <div class="separator large"></div>
</div>

 <div class="container">


        <!-- Таблица с данными -->
        <div class="data-table">
                    <!-- Форма для выбора документа -->
        <div class="document-selector">
            <label for="document-select">Выберите режущий инструмент</label>
            <select id="document-select" onchange="fetchData()">
                <!-- Опции будут заполнены через JavaScript -->
            </select>
        </div>
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Требование</th>
                        <th>Единица измерения</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Данные будут заполнены через JavaScript -->
                </tbody>
            </table>
        </div>
 </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    fetchDocuments();
    fetchData(); // Fetch initial data
});

function fetchDocuments() {
    // Запрос для получения списка документов из базы данных
    // Замените этот код на реальный запрос к вашей базе данных
    const documents = [
        { id: 1, name: 'Резец' },
        { id: 2, name: 'Фреза' },
        // Добавьте другие документы
    ];

    const select = document.getElementById('document-select');
    documents.forEach(doc => {
        const option = document.createElement('option');
        option.value = doc.id;
        option.textContent = doc.name;
        select.appendChild(option);
    });
}

function fetchData() {
    const documentId = document.getElementById('document-select').value;

    // Запрос для получения данных из базы данных в зависимости от выбранного документа
    // Замените этот код на реальный запрос к вашей базе данных
    const data = {
        1: [
            { requirement: 'стружколом', unit: 'нет' },
            { requirement: 'твердость', unit: 'HRC' },
            { requirement: 'шероховатость', unit: 'Ra' },
            { requirement: 'радиус закругления', unit: 'мм' },
            { requirement: 'толщина режущей кромки', unit: 'мм' },
            { requirement: 'установочное отверстие', unit: 'нет' },
            { requirement: 'размер пластины', unit: 'мм' },
            { requirement: 'передний угол', unit: 'Радиан' }
        ],
        2: [
            { requirement: 'Требование 1', unit: 'мм' },
            { requirement: 'Требование 2', unit: 'HRC' }
        ],
        // Добавьте другие данные для документов
    };

    const tableBody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
    tableBody.innerHTML = ''; // Очистить таблицу

    data[documentId].forEach(item => {
        const row = document.createElement('tr');

        const requirementCell = document.createElement('td');
        requirementCell.textContent = item.requirement;
        row.appendChild(requirementCell);

        const unitCell = document.createElement('td');
        unitCell.textContent = item.unit;
        row.appendChild(unitCell);

        tableBody.appendChild(row);
    });
}

</script>
{% endblock %}