{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_customer_voice_ranging.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
    <div class="title-bar">
           <h1>Этап 3: Ранжирование "Голосов потребителей"”</h1>
           <div class="separator large"></div>
    </div>

<body>
<div class="container">
        <div class="panel left-panel">
            <h2 class="main_text">Голос потребителя</h2>
            <div class="characteristic" data-id="char1">
                <span>1. Высокая износостойкость</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>2. Долговечность и надежность</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>3. Точность обработки</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>4. Простота замены режущих пластин</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>5. Стабильная работа при высоких нагрузках и температурах</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>6. Удобство в использовании</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>7. Низкая цена</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>

            <!-- Добавить другие характеристики по аналогии -->
            <button class="save-button">Сохранить</button>
        </div>
        <div class="panel right-panel">
            <div class="info-box">
                Укажите, пожалуйста, ранг значимости каждой характеристики где:
                <ul>
                    <li>1 - не важно</li>
                    <li>2 - менее важно</li>
                    <li>3 - нейтрально</li>
                    <li>4 - важно</li>
                    <li>5 - очень важно</li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script>
    function showSelection(id, value) {
    const selectedSpan = document.querySelector('#' + id + ' .selected-value');
    selectedSpan.textContent = value;
}

</script>
{% endblock %}
