{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_customer_voice.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
 <div class="title-bar">
        <h1>Этап 1: Определение “Голоса потребителей”</h1>
        <div class="separator large"></div>
 </div>
<div class="main-container">
    <div class="characteristics-container">
        <h2>Потребительские ожидания</h2>
        <div class="characteristic-item">
            <span>Характеристика 1</span>
            <button class="edit-button"><img src="{% static 'qfd_online/img/pencil.png' %}" alt="Pencil Icon" class="edit-button"></button>
            <button class="delete-button"><img src="{% static 'qfd_online/img/Bin.png' %}" alt="Bin Icon" class="delete-button"></button>
        </div>
         <button class="save-button">Сохранить</button> <!-- Добавлена кнопка сохранить -->
        <!-- Дополнительные элементы можно добавлять аналогично -->
    </div>
    <div class="input-container">
        <input type="text" placeholder="Введите характеристику" />
        <button class="add-button">Добавить</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const characteristicsContainer = document.querySelector('.characteristics-container');

    // Обработка удаления элемента
    characteristicsContainer.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-button')) {
            const item = event.target.closest('.characteristic-item');
            item.remove(); // Удаляет элемент из DOM
        }
    });

    // Обработка редактирования элемента
    characteristicsContainer.addEventListener('click', function(event) {
        if (event.target.classList.contains('edit-button')) {
            const item = event.target.closest('.characteristic-item');
            const textElement = item.querySelector('span');
            const newText = prompt('Редактировать текст:', textElement.textContent);
            if (newText) {
                textElement.textContent = newText;
            }
        }
    });

    // Добавление новой характеристики
    document.querySelector('.add-button').addEventListener('click', function() {
        const input = document.querySelector('.input-container input');
        if (input.value.trim() !== '') {
            const newItem = document.createElement('div');
            newItem.className = 'characteristic-item';
            newItem.innerHTML = `
                <span>${input.value}</span>
                <button class="edit-button"><img src="{% static 'qfd_online/img/pencil.png' %}" alt="Pencil Icon" class="edit-button"></button>
                <button class="delete-button"><img src="{% static 'qfd_online/img/Bin.png' %}" alt="Bin Icon" class="delete-button"></button>
            `;
            characteristicsContainer.appendChild(newItem);
            input.value = ''; // Очистка поля ввода
        }
    });
});

</script>
{% endblock %}