{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_customer_voice_ranging.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
    <div class="title-bar">
           <h1>Этап 4: Согласование показателей качества для потребителя</h1>
           <div class="separator large"></div>
    </div>

<body>
<div class="container">
        <div class="panel left-panel">
            <h2 class="main_text">Голос потребителя</h2>
            <div class="characteristic" data-id="char1">
                <span>Характеристика 1</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <div class="characteristic" data-id="char2">
                <span>Характеристика 2</span>
                <select onchange="showSelection(this)">
                    <option value="">Выберите значение</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="selected-value"></span>
            </div>
            <!-- Добавить другие характеристики по аналогии -->
            <button class="save-button">Согласовать</button>
        </div>
        <div class="panel right-panel">
            <div class="info-box">
                Пожалуйста, согласуйте, ранги показателей качества полученные от QFD
                команды. Если показатели вас неудовлетворяют, пожалуйста, выберите подходящий вариант из списка
            </div>
        </div>
    </div>
</body>


{% endblock %}
