{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}   QFD Team   {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_qfd_team.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
 <div class="title-bar">
        <h1>Этап 2: Выбор участников команды QFD”</h1>
        <div class="separator large"></div>
 </div>
<!-- Форма для добавления новых участников -->
<div class="input-form">
    <h3 class="main_text">Добавить нового участника</h3>
    <input type="email" id="new-member-email" placeholder="Введите email нового участника">
    <button onclick="addMember()">
        Добавить
    </button>
</div>

<!-- Контейнер для участников команды -->
<div id="team-members-container" class="members-container">
    <h3 class="main_text">QFD команда</h3>
    <button class="save-button">Сохранить</button>

    <!-- Участники будут добавлены здесь через JavaScript -->
</div>

<!-- Контейнер для выбора сохранённых участников -->
<div id="saved-users" class="saved-users">
    <h3 class="main_text">Сохраненные участники</h3>

    <!-- Заполнение через JavaScript -->
</div>




<script>
document.addEventListener('DOMContentLoaded', function() {
    loadSavedUsers();
});

function addMember() {
    const emailInput = document.getElementById('new-member-email');
    const email = emailInput.value;
    if (validateEmail(email)) {
        addMemberToTeam(email);
        emailInput.value = ''; // Clear input field after adding
    } else {
        alert('Введите корректный email адрес.');
    }
}

function addMemberToTeam(email) {
    const teamContainer = document.getElementById('team-members-container');
    const memberDiv = document.createElement('div');
    memberDiv.className = 'member';
    memberDiv.textContent = email;

    const removeBtn = document.createElement('img');
    removeBtn.src = '{% static 'qfd_online/img/Bin.png' %}'; // Путь к иконке удаления
    removeBtn.style.width = '16px'; // Установка ширины иконки
    removeBtn.style.height = '17px'; // Установка высоты иконки
    removeBtn.style.cursor = 'pointer'; // Курсор в виде указателя
    removeBtn.style.marginLeft = '450px'; // Отступ слева
    removeBtn.style.paddingTop = '-8px'; // Обрати внимание!!!!!!!!!!!!

    removeBtn.alt = 'Remove';
    removeBtn.className = 'remove';

    removeBtn.onclick = function() {
        teamContainer.removeChild(memberDiv);
    };

    memberDiv.appendChild(removeBtn);
    teamContainer.appendChild(memberDiv);
}

function loadSavedUsers() {
    const savedUsersContainer = document.getElementById('saved-users');
    // Предполагаем, что эти данные загружаются с сервера
    const savedUsers = ['Иванов Иван Иванович', 'Петров Петр Петрович'];

    savedUsers.forEach(user => {
        const userDiv = document.createElement('div');
        userDiv.className = 'saved-user';
        userDiv.textContent = user;

        const addBtn = document.createElement('img');
        addBtn.src = '{% static 'qfd_online/img/Check_gray.png' %}'; // Путь к иконке добавления
        addBtn.alt = 'Add';
        addBtn.className = 'add';
        addBtn.style.width = '20px'; // Установка ширины иконки
        addBtn.style.height = '14px'; // Установка высоты иконки
        addBtn.style.cursor = 'pointer'; // Курсор в виде указателя
        addBtn.style.marginLeft = '440px'; // Отступ слева

        addBtn.onclick = function() {
            addMemberToTeam(user);
            addBtn.src = '{% static 'qfd_online/img/Check.png' %}'; // Отметка выбранного пользователя
        };

        userDiv.appendChild(addBtn);
        savedUsersContainer.appendChild(userDiv);
    });
}

function validateEmail(email) {
    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
}


</script>

{% endblock %}