{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_structure.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}

<body>
    <div class="title-bar">
        <h1>Структура “Дома качества”</h1>
        <div class="separator large"></div>
    </div>
    <div class="container">
        <div class="characteristics">
            <h3>Укажите столбцы и строки, которые должны быть в “Доме качества” </h3>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">1. Единицы измерения</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">2. Оценка конкурентов (Рейтинг конкурентов)</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">3. Инженерная оценка конкурентоспособности продукта</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">4. Сложность реализации требований</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">5. Абсолютная важность</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">6. Относительная важность</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="characteristic">
                <label class="custom-checkbox">
                    <span class="text">7. Напраление улучшения</span>
                    <input type="checkbox" hidden/>
                    <span class="checkmark">
                        <svg class="checkmark-svg" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.43444L6.62296 15.0574L20.6804 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </label>
            </div>
            <!-- Repeat for each characteristic -->

        </div>
        <div class="input-form">
            <input type="text" placeholder="Введите название проекта">
            <input type="number" placeholder="Введите количество конкурентов для анализа">
            <button>Сохранить</button>
        </div>
    </div>
{% endblock %}