{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}   Выбор технических характеристик   {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_technical_characteristics.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
<div class="title-bar">
        <h1>Этап 5:  Выбор технических характеристик</h1>
        <div class="separator large"></div>
 </div>
<div class="main-container">
    <div class="characteristics-container">
        <h2>Технические характеристики</h2>
        <div class="characteristic-item">
            <span id="characteristics-list"> </span>

        </div>
         <button class="save-button">Сохранить</button> <!-- Добавлена кнопка сохранить -->
        <!-- Дополнительные элементы можно добавлять аналогично -->
    </div>
    <div class="input-container">
        <input type="text" id="tech-char" placeholder="Введите технические характеристики">
        <input type="text" id="measurement-unit" placeholder="Введите единицу измерения">
        <button class="add-button" onclick="addTechnicalCharacteristic()">Добавить</button>
    </div>

    <div class="db-panel">
            <h3>База технических требований</h3>
            <select id="database-select" onchange="populateRequirements()">
                <option value="">Выберите инструмент</option>
                <option value="gost_iso_9001">резец</option>
                <option value="gost_iso_9999">фреза</option>
            </select>
            <select id="requirements-select">
                <option value="">Выберите техническое требование</option>
            </select>
            <button class="add-button" onclick="addRequirement()">Добавить</button>
    </div>
</div>

<script>
    function addTechnicalCharacteristic() {
    const techChar = document.getElementById('tech-char').value;
    const measurementUnit = document.getElementById('measurement-unit').value;

    if (techChar && measurementUnit) {
        const listItem = document.createElement('li');
        listItem.className = 'characteristic-item';
        listItem.innerHTML = `${techChar}, ${measurementUnit}
            <div>
                <button class="edit-button" onclick="editCharacteristic(this)">
                    <img src="{% static 'qfd_online/img/pencil.png' %}" alt="Pencil Icon" class="edit-button">
                </button>
                <button class="delete-button" onclick="deleteCharacteristic(this)">
                    <img src="{% static 'qfd_online/img/Bin.png' %}" alt="Bin Icon" class="delete-button">
                </button>
            </div>`;

        document.getElementById('characteristics-list').appendChild(listItem);

        document.getElementById('tech-char').value = '';
        document.getElementById('measurement-unit').value = '';
    } else {
        alert('Пожалуйста, заполните оба поля.');
    }
}

function populateRequirements() {
    const databaseSelect = document.getElementById('database-select');
    const requirementsSelect = document.getElementById('requirements-select');
    requirementsSelect.innerHTML = '<option value="">Выберите техническое требование</option>';

    const requirements = {
        gost_iso_9001: ['стружколом', 'радиус закругления', 'толщина режущей кромки', 'установочное отверстие', 'размер пластины', 'способ крепления пластины', 'передний угол', 'задний угол', 'твердость', 'износостойкость'],
        gost_iso_9999: ['шероховатость', 'толщина стружки', 'угол наклона', 'угол резания']
    };

    if (databaseSelect.value) {
        requirements[databaseSelect.value].forEach(req => {
            const option = document.createElement('option');
            option.value = req;
            option.textContent = req;
            requirementsSelect.appendChild(option);
        });
    }
}

function addRequirement() {
    const requirement = document.getElementById('requirements-select').value;

    if (requirement) {
        const listItem = document.createElement('li');
        listItem.className = 'characteristic-item';
        listItem.innerHTML = `${requirement}
            <div>
                <button class="edit-button" onclick="editCharacteristic(this)">
                    <img src="{% static 'qfd_online/img/pencil.png' %}" alt="Pencil Icon" class="edit-button">
                </button>
                <button class="delete-button" onclick="deleteCharacteristic(this)">
                    <img src="{% static 'qfd_online/img/Bin.png' %}" alt="Bin Icon" class="delete-button">
                </button>
            </div>`;

        document.getElementById('characteristics-list').appendChild(listItem);
    } else {
        alert('Пожалуйста, выберите техническое требование.');
    }
}

function editCharacteristic(button) {
    const listItem = button.closest('.characteristic-item');
    const text = listItem.childNodes[0].textContent;
    const parts = text.split(', ');

    if (parts.length === 2) {
        document.getElementById('tech-char').value = parts[0];
        document.getElementById('measurement-unit').value = parts[1];
    } else {
        document.getElementById('tech-char').value = parts[0];
    }

    listItem.remove();
}

function deleteCharacteristic(button) {
    const listItem = button.closest('.characteristic-item');
    listItem.remove();
}

</script>

{% endblock %}