{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/hq_technical_characteristics_ranging.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
<div class="title-bar">
        <h1>Этап 6: Построение матрицы взаимосвязей</h1>
        <div class="separator large"></div>
 </div>
 <body>
    <div class="container">

<!--    <div class="container">-->
<!--        <div id="pyramid">-->
<!--            &lt;!&ndash; Ряды ромбов будут добавлены динамически с помощью JavaScript &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
        <table class="main-table">
            <thead>
                <tr>
                    <th rowspan="2">Приоритетные показатели качества</th>
                    <th rowspan="2"  class="vertical-text">Важность</th>
                    <th colspan="8">Технические характеристики "Как"</th>
                    <th rowspan="2" colspan="5">Конкурентный анализ <br> Наша компания - ■ <br>Компания А - ▲  <br>Компания Б - ●</th>
                </tr>
                <tr>
                    <th class="vertical-text">Техническая характеристика 1</th>
                    <th class="vertical-text">Техническая характеристика 2</th>
                    <th class="vertical-text">Техническая характеристика 3</th>
                    <th class="vertical-text">Техническая характеристика 4</th>
                    <th class="vertical-text">Техническая характеристика 5</th>
                    <th class="vertical-text">Техническая характеристика 6</th>
                    <th class="vertical-text">Техническая характеристика 7</th>
                    <th class="vertical-text">Техническая характеристика 8</th>
                </tr>
            </thead>
            <tbody>
                <!-- Направление улучшений -->
                <tr>
                    <td colspan="2">Направление улучшений</td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td><select class="direction-select"><option value="no"></option><option value="up">↑</option><option value="down">↓</option></select></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <!-- Пример строк с взаимосвязями -->
                <tr>
                    <td>Техническая характеристика 1</td>
                    <td>5</td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>
                    <td><select class="relationship-select"><option value="no"></option><option value="circle">○</option><option value="filled-circle">●</option><option value="triangle">▲</option></select></td>

                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>

                </tr>
                <tr>
                    <td colspan="2">Сложность реализации требований</td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                    <td><select><option value="no"></option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> </select></td>
                </tr>
                <tr>
                    <td colspan="2">Единицы измерения и значения</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td colspan="2">Абсолютная важность</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td colspan="2">Относительная важность</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="5">Инженерная оценка <br>Наша компания - ■ <br>Компания А - ▲  <br>Компания Б - ●</td>
                    <td class="table_data">1</td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                    <td><select class="competitor-select"><option value="no"></option> <option value="square">■</option> <option value="triangle">▲</option> <option value="circle">●</option> </select></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                </tr>
                 <tr>
                     <td>3</td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                </tr>
                 <tr>
                     <td>4</td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                </tr>
                 <tr>
                     <td>5</td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                    <td><select class="competitor-select"><option value="no"></option><option value="square">■</option><option value="triangle">▲</option><option value="circle">●</option></select></td>
                </tr>
                <!-- Добавьте больше строк по мере необходимости -->
            </tbody>
        </table>
    </div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const pyramidContainer = document.getElementById('pyramid');
    const pyramidHeight = 10; // Количество рядов пирамиды

    for (let row = 0; row < pyramidHeight; row++) {
        const rowDiv = document.createElement('div');
        rowDiv.classList.add('row');

        for (let col = 0; col <= row; col++) {
            const diamondDiv = document.createElement('div');
            diamondDiv.classList.add('diamond');
            diamondDiv.dataset.state = " "; // Начальное состояние ромба

            const innerDiv = document.createElement('div');
            const span = document.createElement('span');
            span.textContent = diamondDiv.dataset.state;
            innerDiv.appendChild(span);

            diamondDiv.appendChild(innerDiv);

            diamondDiv.addEventListener('click', function() {
                if (diamondDiv.dataset.state === " ") {
                    diamondDiv.dataset.state = "+";
                } else if (diamondDiv.dataset.state === "+") {
                    diamondDiv.dataset.state = "++";
                } else if (diamondDiv.dataset.state === "++") {
                    diamondDiv.dataset.state = "-";
                } else if (diamondDiv.dataset.state === "-") {
                    diamondDiv.dataset.state = "--";
                }else {
                    diamondDiv.dataset.state = " ";
                }
                span.textContent = diamondDiv.dataset.state;
                updateDiamondColor(diamondDiv);
            });

            rowDiv.appendChild(diamondDiv);
        }

        pyramidContainer.appendChild(rowDiv);
    }
});

function updateDiamondColor(diamond) {
    const state = diamond.dataset.state;
    const innerDiv = diamond.querySelector('div');
    if (state === "++") {
        innerDiv.style.backgroundColor = "white"; // Цвет для состояния "++"
    } else if (state === "+") {
        innerDiv.style.backgroundColor = "white"; // Цвет для состояния "+"
    } else {
        innerDiv.style.backgroundColor = "white"; // Цвет для состояния "-"
    }
}





</script>

{% endblock %}