{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}   Main Page   {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/main_page.css' %}">  {% endblock %}

{% block content %}

<body>
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}


    <div class="content">
        <div class="card">
            <img src="image_url.jpg" alt="Картинка">
            <h3>Добро пожаловать</h3>
            <p>Некоторый текст</p>
            <button><a href="#">Посмотреть</a></button>
        </div>
        <div class="card">
            <img src="image_url.jpg" alt="Картинка">
            <h3>Инструкция</h3>
            <p>Некоторый текст</p>
            <button><a href="#">Посмотреть</a></button>
        </div>
        <div class="card">
            <img src="image_url.jpg" alt="Картинка">
            <h3>О базе данных</h3>
            <p>Некоторый текст</p>
            <button><a href="#">Посмотреть</a></button>
        </div>
    </div>

</body>



{% endblock %}