{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/personal_account.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
<div class="title-bar">
        <h1>Личный кабинет</h1>
        <div class="separator large"></div>
 </div>

<div class="container">
        <!-- Форма с личными данными -->
        <div class="personal-data">
            <h2>Личные данные</h2>
            <div class="data-row">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" value="Петров">
            </div>
            <div class="data-row">
                <label for="name">Имя:</label>
                <input type="text" id="name" value="Петр">
            </div>
            <div class="data-row">
                <label for="patronymic">Отчество:</label>
                <input type="text" id="patronymic" value="Петрович">
            </div>
            <div class="data-row">
                <label for="email">E-mail:</label>
                <input type="email" id="email" value="new_user3@mail.ru">
            </div>
            <button class="save-btn" onclick="saveChanges()">Сохранить изменения</button>
        </div>

        <!-- Форма со сменой пароля -->
        <div class="change-password">
            <h2>Сменить пароль</h2>
            <div class="input-row">
                <input type="password" id="current-password" placeholder="Старый пароль">
                <button class="toggle-password" onclick="togglePassword('current-password')">👁️</button>
            </div>
            <div class="input-row">
                <input type="password" id="new-password" placeholder="Новый пароль">
                <button class="toggle-password" onclick="togglePassword('new-password')">👁️</button>
            </div>
            <div class="input-row">
                <input type="password" id="confirm-password" placeholder="Повторите новый пароль">
                <button class="toggle-password" onclick="togglePassword('confirm-password')">👁️</button>
            </div>
            <button class="save-btn" onclick="changePassword()">Сменить</button>
        </div>
</div>


        <!-- Форма со сменой пароля -->
        <div class="change-password">
            <h2>Сменить пароль</h2>
            <div class="input-row">
                <input type="password" id="current-password" placeholder="Старый пароль">
                <button class="toggle-password" onclick="togglePassword('current-password')">👁️</button>
            </div>
            <div class="input-row">
                <input type="password" id="new-password" placeholder="Новый пароль">
                <button class="toggle-password" onclick="togglePassword('new-password')">👁️</button>
            </div>
            <div class="input-row">
                <input type="password" id="confirm-password" placeholder="Повторите новый пароль">
                <button class="toggle-password" onclick="togglePassword('confirm-password')">👁️</button>
            </div>
            <button class="save-btn">Сменить</button>
        </div>
    </div>

<script>
  function togglePassword(inputId) {
    const input = document.getElementById(inputId);
    const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
    input.setAttribute('type', type);
}

function saveChanges() {
    const surname = document.getElementById('surname').value;
    const name = document.getElementById('name').value;
    const patronymic = document.getElementById('patronymic').value;
    const email = document.getElementById('email').value;

    if (validateEmail(email)) {
        // Отправить данные на сервер для сохранения
        // Замените этот комментарий на код для отправки данных на сервер
        alert('Изменения сохранены');
    } else {
        alert('Пожалуйста, введите корректный email');
    }
}

function validateEmail(email) {
    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(String(email).toLowerCase());
}

function changePassword() {
    const currentPassword = document.getElementById('current-password').value;
    const newPassword = document.getElementById('new-password').value;
    const confirmPassword = document.getElementById('confirm-password').value;

    if (newPassword === confirmPassword) {
        // Отправить данные на сервер для смены пароля
        // Замените этот комментарий на код для отправки данных на сервер
        alert('Пароль успешно изменен');
    } else {
        alert('Новые пароли не совпадают');
    }
}


</script>

{% endblock %}