{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}   Проекты   {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/projects_page.css' %}">  {% endblock %}

{% block content %}

{%include 'includes/navbar_main_meny.html' %}
{%include 'includes/navbar_for_left_meny.html' %}
<body>
    <div class="title-bar">
        <h1>Проекты</h1>
        <div class="separator large"></div>
    </div>
    <div class="new-project">
        <div class="project-title">Новый проект</div>
        <form action="{% url "hq-structure" %}"><button>Создать</button></form>
    </div>
    <div class="separator small"></div>
    <div class="projects">
        <a href="#" class="card">
            <div class="project-name">Проект 1</div>
            <button>Посмотреть</button>
        </a>
        <a href="#" class="card">
            <div class="project-name">Проект 2</div>
            <button>Посмотреть</button>
        </a>
        <a href="#" class="card">
            <div class="project-name">Проект 3</div>
            <button>Посмотреть</button>
        </a>
    </div>
</body>

{% endblock %}
