{%extends 'qfd_project/base.html'%}
{% load static %}


{%block title%}      {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/qfd_team.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_main_meny.html' only %}
{%include 'includes/navbar_for_left_meny.html'%}
<div class="title-bar">
        <h1>QFD команда</h1>
        <div class="separator large"></div>
 </div>
<body>
    <div class="container">
        <!-- Список команды -->
        <div class="team-list">
            <h2>Сохраненные пользователи</h2>
            <div class="team-table">
                <!-- Заголовки таблицы -->
                <div class="table-header">
                    <div>ФИО</div>
                    <div>E-mail</div>
                </div>
                <!-- Данные команды (будут заполняться через JS) -->
                <div id="team-data"></div>
            </div>
        </div>

        <!-- Форма для добавления нового участника -->
        <div class="form-container add-member">
            <h3>Добавить нового участника</h3>
            <input type="email" id="new-member-email" placeholder="Введите e-mail нового участника">
            <button class="qfd_button" onclick="addMember()">Отправить заявку</button>
        </div>

        <!-- Форма для поиска участников -->
        <div class="form-container search-member">
            <h3>Поиск участников</h3>
            <input type="email" id="search-member-email" placeholder="Введите e-mail">
            <button class="qfd_button" onclick="searchMember()">Добавить в команду</button>
        </div>
    </div>


    <script>
      document.addEventListener('DOMContentLoaded', function() {
    loadTeamData();
});

function loadTeamData() {
    const teamDataDiv = document.getElementById('team-data');

    // Данные из базы данных
    const teamData = [
        { name: 'Петров Петр Петрович', email: 'petr_p@mail.ru' },
        { name: 'Иванов Иван Иванович', email: 'ivanov_i@mail.ru' }
    ];

    // Заполнение таблицы данными
    teamData.forEach(member => {
        const memberRow = document.createElement('div');
        memberRow.classList.add('team-row');

        const memberName = document.createElement('div');
        memberName.textContent = member.name;

        const memberEmail = document.createElement('div');
        memberEmail.textContent = member.email;

        memberRow.appendChild(memberName);
        memberRow.appendChild(memberEmail);

        teamDataDiv.appendChild(memberRow);
    });
}

function addMember() {
    const emailInput = document.getElementById('new-member-email');
    const email = emailInput.value;

    if (validateEmail(email)) {
        // Добавить участника в базу данных
        // Замените этот комментарий на код для добавления данных в базу
        alert('Заявка отправлена');
        emailInput.value = '';
    } else {
        alert('Пожалуйста, введите корректный email');
    }
}

function searchMember() {
    const emailInput = document.getElementById('search-member-email');
    const email = emailInput.value;

    if (validateEmail(email)) {
        // Поиск участника в базе данных и добавление в команду
        // Замените этот комментарий на код для поиска данных в базе
        alert('Участник добавлен в команду');
        emailInput.value = '';
    } else {
        alert('Пожалуйста, введите корректный email');
    }
}

function validateEmail(email) {
    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(String(email).toLowerCase());
}

    </script>
{% endblock %}