{%extends 'qfd_project/base.html'%}
{% load static %}



{%block title%}   Registration Form   {%endblock%}

{% block css_additional %}  <link rel="stylesheet" href=" {% static 'qfd_online/css/registration.css' %}">  {% endblock %}

{% block content %}
{%include 'includes/navbar_for_registration.html'  %}
<body>
    <div class="registration-container">
        <form class="input-field">
            <img src="{% static 'qfd_online/img/Email.png' %}" alt="Email Icon" class="icon">
            <input type="email" placeholder="E-mail" name="email_id">
        </form>
        <form class="input-field">
            <img src="{% static 'qfd_online/img/Person.png' %}" alt="Email Icon" class="icon">
            <input type="text" placeholder="ФИО" name="full_name">
        </form>
        <form class="input-field">
            <img src="{% static 'qfd_online/img/Password.png' %}" alt="Email Icon" class="icon">
            <input type="password" placeholder="Пароль" name="password">
        </form>
        <form>
            <button type="submit">Регистрация</button>
        </form>

    </div>
</body>
{% endblock %}

