<style>
    .header {
    width: 100%;
    height: 60px;
    background: #FFFFFF;

    padding-right: 24px; /* Правый отступ, чтобы кнопка не прилипала к краю */
    position: absolute  ;
    top: 0;


}

.instruction-button {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding: 0px;
    width: 150px;
    height: 54px;
    background: #5D5A88;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    float: right;
}

.instruction-button:hover {
    background-color: #8071A6;
}
</style>

<div class="header">
    <a href="#" class="instruction-button">Инструкция</a> <!-- Изменено на ссылку -->
</div>

