<style>
header {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 15;
    z-index: 500;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding-left: 45%;
    padding-right: 1%;
    align-items: center;
    text-decoration: none;
    z-index: 500;
}

.instruction-button {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding: 0px;
    width: 150px;
    height: 54px;
    background: #5D5A88;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    float: right;
}

.instruction-button:hover {
    background-color: #8071A6;
}
.nav a {
    text-decoration: none;
}

</style>

<header>
        <nav>
            <a href="{% url 'main-page' %}" class="active">Главная страница</a> |
            <a href="{% url 'projects-page' %}">Проекты</a> |
            <a href="{% url 'qfd-team' %}">QFD команда</a> |
            <a href="{% url 'data-base' %}">База данных</a>
            <a href="{% url 'main-page' %}" class="instruction-button">Инструкции</a>
        </nav>
</header>

