<style>
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: #F1F9FF;
    z-index: 1000;
  }

  .sidebar {
      width: 292px;
      height: 100%;
      position: fixed;
      background: #FFFFFF; /* измененный цвет фона */
      left: 0;
      top: 0;
      transition: left 0.3s;
      z-index: 1000;
  }

  .sidebar.closed {
      left: -292px; /* полное скрытие меню */
  }

  .sidebar button {
      background: none;
      margin-left: 10px;
      border: none;
      cursor: pointer;
      padding: 10px;
      position: absolute;
      top: 20px;
      right: -40px;
      z-index: 100;
  }

  .sidebar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 20px;
  }

  .sidebar ul li a {
      display: block;
      padding: 24px;
      text-decoration: none;
      font-size: 22px; /* измененный размер шрифта */
      color: rgba(93, 90, 136, 1); /* измененный цвет шрифта */
      background: #FFFFFF; /* фон для каждой ссылки */
      height: 50px; /* высота прямоугольника */
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .sidebar ul li.active a {
      background: rgba(196, 194, 222, 1); /* активный пункт меню имеет другой цвет */
  }
</style>

 <div id="sidebar" class="sidebar closed">
        <button onclick="toggleMenu()">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="26.4314" y1="1" x2="1.00002" y2="0.999998" stroke="#5D5A88" stroke-width="2" stroke-linecap="round"/>
                <line x1="26.4314" y1="13.6606" x2="1.00002" y2="13.6606" stroke="#5D5A88" stroke-width="2" stroke-linecap="round"/>
                <line x1="26.4314" y1="26.3213" x2="1.00002" y2="26.3213" stroke="#5D5A88" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
        <ul>
            <li class="menu-item"><a href="{% url 'main-page' %}">Главная страница</a></li>
            <li class="menu-item"><a href="{% url 'projects-page' %}">Проекты</a></li>
            <li class="menu-item"><a href="{% url 'qfd-team' %}">QFD команда</a></li>
            <li class="menu-item"><a href="{% url 'data-base' %}">База данных</a></li>
            <li class="menu-item"><a href="{% url 'personal-account' %}">Личный кабинет</a></li>
        </ul>
    </div>
    <script>
        function toggleMenu() {
            document.getElementById("sidebar").classList.toggle("closed");
        }
    </script>