body, html {
    height: 100%;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background: #F1F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    box-sizing: border-box;
    position: relative;
    width: 519px;
    height: 493px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 40px; /* Отступы внутри контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Равномерное распределение пространства */
}

.input-container {
    background: #F9F9FF;
    width: 100%;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #9795B5;
}

.login-btn {
    width: 108px;
    height: 54px;
    padding: 18px 24px;
    border-radius: 30px;
    border: none;
    background: #5D5A88;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn:hover {
    background-color: #8071A6;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    width: 100%; /* Ширина блока ссылок равна ширине формы */
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.separator {
    margin: 0 10px;
}

.icon {
    margin-right: 10px;
    width: 19px;
    height: 18px;