body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.document-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.document-selector label {
    font-size: 20px;
    margin-bottom: 10px;
    color: #194BFF;
}

.document-selector select {
    width: 85%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.data-table {
    position: absolute;
    width: 1000px;
    height: 657px;
    left: 500px;
    top: 155px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 38px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}
