body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: calc(80% + 100px); /* Добавляем дополнительное пространство */
    max-width: calc(1000px + 100px); /* Увеличиваем max-width */
    margin-right: 20%;
    gap: 100px;
}

.characteristics-container, .input-container {
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    position: relative;

}

.characteristics-container {
    width: 588px;
    height: 606px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    position: relative; /* Добавлено для корректного позиционирования кнопки сохранить */
}

.save-button {
    position: absolute;
    width: 239.06px;
    height: 40px;
    left: 50%; /* Центрируем кнопку относительно контейнера */
    top: 659px;
    transform: translateX(-50%); /* Смещение кнопки на половину её ширины назад для точного центрирования */
    background: #5D5A88;
    border-radius: 47.27px;
    border: 1px solid #5D5A88;
    color: white; /* Цвет текста на кнопке */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 56px;
    cursor: pointer;
}

.characteristics-container h2{
    color: rgba(27, 77, 255, 1);
    text-align: center;
    font-size: 20px;
}

.input-container {

    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.characteristic-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Распределяет элементы по краям контейнера */
    padding: 5px 10px; /* Добавляет небольшой отступ внутри каждого элемента */
    margin-bottom: 10px; /* Отступ между элементами */
}

.characteristic-item span {
    flex-grow: 1; /* Заставляет текст занимать все доступное пространство */
    margin-right: 10px; /* Добавляет отступ между текстом и кнопками */
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px; /* Добавляет отступ между кнопками */
}

input[type="text"] {

    margin-right: 20px;
    border-radius: 50px;
    border: 2px  rgba(93, 90, 136, 1);
    width: 90%;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 22px;
    background: #F9F9FF;


}

.add-button {
    width: 60%;
    height: 45px;
    padding: 10px;
    margin-left: 20%;
    background-color: #5D5A88;
    color: white;
    border: 2px  rgba(93, 90, 136, 1);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

input::placeholder {
    font-size: 15px; /* Размер шрифта */
    color: rgba(96, 131, 255, 1); /* Цвет текста */
}


