
.title-bar {
    margin-top: 20px;
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 38%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: nowrap; /* Предотвращение переноса элементов */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 100%; /* Убедитесь, что контейнер достаточно широк */
}

.panel {
    background-color: #F9F9FF;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
}

.left-panel {
    order: 1; /* Установите порядок контейнера */
    width: 481px;
    height: 532px;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-right:200px;

}

.right-panel {
    order: 2; /* Установите порядок контейнера */
    width: 488px;
    height: 198px;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-right:200px;
}

.characteristic {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 14px 34px;
    background: #F9F9FF;
    border-radius: 50px;
    gap: 20px;
}

.characteristic select {
    padding: 5px 10px;
    border-radius: 5px;
}

.info-box {
    font-size: 20px;
    color:rgba(103, 101, 143, 1);
    padding: 20px;
    background-color: #FFFFFF;
}

.save-button {
    background-color: #5D5A88;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 47.2727px;
    width:200px;
    height: 55px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    align-self: center; /* Центрирование кнопки */
    margin-top: 400px;
    margin-left: 130px;
}

.main_text {
    color: rgba(25, 75, 255, 1);
    text-align: center;
    font-size: 20px;
    margin-top: 5px;


}