body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    top: 50px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}

.members-container, .input-form, .saved-users {
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    position: absolute; /* Изменено с absolute для лучшей адаптивности */
    margin: 20px auto; /* Центрирование и отступы */
}

.members-container {
    width: 500px;
    height: 532px;
    left: 400px; /* Измените это значение для регулировки расположения */
    top: 150px; /* Измените это значение для регулировки расположения */
}

.input-form {
    width: 481px;
    height: 198px;
    right: 300px; /* Измените это значение для регулировки расположения */
    top: 150px; /* Измените это значение для регулировки расположения */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.saved-users {
    display: flex;
    width: 481px;
    height: 245px;
    flex-direction: column;
    right: 300px; /* Измените это значение для регулировки расположения */
    top: 440px;
    bottom: 100px; /* Измените это значение для регулировки расположения */
}

input[type="email"], button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%; /* Адаптивная ширина для полей ввода */
}

button {
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 47px;
    cursor: pointer;
    width: 204px; /* Автоматическая ширина для кнопок */
    height: 45px;
    font-size: 16px;
    font-style: bold;

}

.save-button {
    position: absolute;
    width: 187.16px;
    height: 67.35px;
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 47.2727px;
    cursor: pointer;
    font-size: 18px;
    left: 50%; /* Центрирование относительно контейнера */
    transform: translateX(-50%); /* Центрирование относительно себя */
    bottom: 10px; /* Отступ от нижней границы контейнера */
}

.main_text {
    color: rgba(25, 75, 255, 1);
    text-align: center;
    font-size: 18px;
    margin-top: 5px;


}


/* Медиазапросы для различных размеров экрана */
@media (max-width: 768px) {
    .members-container, .input-form, .saved-users {
        width: 95%; /* Более широкие элементы на узких экранах */
    }
}

@media (max-width: 480px) {
    .input-form, .saved-users, .members-container {
        flex-direction: column; /* Столбцовое расположение для узких экранов */
    }

    input[type="email"], button {
        width: 90%; /* Уменьшение ширины элементов ввода на узких экранах */
    }

    .input-form {
        gap: 10px; /* Увеличение зазора между элементами формы */
    }
}