body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}



.container {
    display: flex;
    justify-content: space-between;
    width: calc(80% + 100px); /* Добавляем дополнительное пространство */
    max-width: calc(1000px + 100px); /* Увеличиваем max-width */
    margin-right: 20%;
    gap: 100px;
    margin-top: 38px;
}

.characteristics {
    width: 677px;
    height: 584px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.characteristic {
    display: flex;
    align-items: center;
    background: #F9F9FF;
    border-radius: 50px;
    padding: 14px 34px;
}
.characteristics h3 {
    font-size: 20px; /* Размер шрифта */
    color: rgba(25, 75, 255, 1); /* Цвет текста */
    margin-top: 1; /* Убираем верхний отступ */
    margin-bottom: 20px; /* Добавляем нижний отступ для отделения от остального контента */
    padding: 0 10px; /* Поля справа и слева */
    text-align: center;
}

.custom-checkbox {
    cursor: pointer;
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center;
    width: 100%;
}

.text {
    flex-grow: 1; /* Заставляет текст занимать всё доступное пространство, кроме галочки */
}

.checkmark {
    width: 22px;
    height: 17px;
}

.checkmark-svg {
    stroke: #ccc; /* Default grey color */
}

input[type="checkbox"] {
    display: none; /* Скрыть стандартный чекбокс */
}

input[type="checkbox"]:checked + .checkmark .checkmark-svg {
    stroke: #04CD00; /* Green when checked */
}



.input-form {
    width: calc(500px + 100px); /* Добавляем дополнительное пространство */
    max-width: calc(1000px + 100px); /* Увеличиваем max-width */
    height: 234px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: -10%;

}

.input-form input, .input-form button {
    border-radius: 25px;
}

.input-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    padding-right: 1.5px;
    color: rgba(27, 77, 255, 1);
}

.input-form button {
    align-self: center;
    width: 220px;
    padding: 10px;
    background-color: #5D5A88;
    color: white;
    border: none;
    cursor: pointer;
}

input::placeholder {
    font-size: 18px; /* Размер шрифта */
    color: rgba(96, 131, 255, 1); /* Цвет текста */
}
