body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}



#pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
  height:43px;
}

.diamond {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.diamond > div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background-color: white;
    border: 1px solid #67658f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diamond > div > span {
    transform: rotate(-45deg);
}


.diamond:not(:first-child) {
    margin-left: 27px; /* Adjust this value to remove gaps between diamonds */
}

.container {

    padding: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.main-table {
    position: absolute;
    right: 200px;
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    background: white;
}

.main-table th, .main-table td {
    border: 1px solid #67658F;
    padding: 10px;
    text-align: center;
}

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

.direction-select, .relationship-select, .competitor-select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #67658F;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.direction-select option, .relationship-select option, .competitor-select option {
    background-color: #fff;
    color: #333;
}

.table_data{
    width: 37px;
    height: 37px;
}






