body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: #F1F9FF;
}

.sidebar {
    width: 292px;
    height: 100%;
    position: fixed;
    background: FFFFFF; /* измененный цвет фона */
    left: 0;
    top: 0;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar.closed {
    left: -292px; /* полное скрытие меню */
}

.sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: -40px;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.sidebar ul li a {
    display: block;
    padding: 24px;
    text-decoration: none;
    font-size: 22px; /* измененный размер шрифта */
    color: rgba(93, 90, 136, 1); /* измененный цвет шрифта */
    background: FFFFFF; /* фон для каждой ссылки */
    height: 50px; /* высота прямоугольника */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li.active a {
    background: rgba(196, 194, 222, 1); /* активный пункт меню имеет другой цвет */
}



.content {
    margin-top: 60px;
    padding-left: 292px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 238px;
    height: 319px;
    background: #ffffff;
    margin: 75px 15px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    position: relative;
}

.card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.card h3, .card p {
    margin: 10px 0;
    text-align: center;
}

.card button {
    width: 198.74px;
    height: 37.4px;
    background: #FFFFFF;
    border: 1.33333px solid #5D5A88;
    border-radius: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;

}
