body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}



.container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.personal-data, .change-password {
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-left:150px;
}

.personal-data {
    width: 481px;
    height: 500px;
    position: absolute;
    left: 351px;
    top: 168px;
}

.change-password {
    width: 481px;
    height: 360px;
    position: absolute;
    left: 900px;
    top: 168px;
}

h2 {
    text-align: center;
    color: #194BFF;
}

.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #F9F9FF;
    border-radius: 20px;
}

.data-row label {
    flex-basis: 30%;
    text-align: right;
    margin-right: 10px;
}

.data-row input {
    flex-basis: 60%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #F9F9FF;
    border-radius: 20px;
}

input[type="password"] {
    flex-grow: 1;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

button.toggle-password {

    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

button.save-btn {
    width: 50%;
    height: 40px;
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 47px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 500;
}

button.save-btn:hover {
    background-color: #4c4873;
}

