body {
    position: relative;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large, .separator.small {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
}

.separator.large {
    height: 2px;
}

.separator.small {
    top: 419px;
    height: 5px;
    background-color: #D9D9D9;
}

.new-project {
    position: absolute;
    width: 470px;
    height: 231px;
    left: 42%;
    top: 154px;
    border-radius: 24px;
    border: 1.33333px solid #5D5A88;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-title {
    text-align: center;
    font-size: 32px;
    color: #5D5A88;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;

}

.new-project button {
    width: 361.92px;
    height: 52px;
    background-color: #FFFFFF;
    color: #67658F;
    font-size: 18px;
    border-radius: 21px; /* 40% of height */
    border: 1.33333px solid #5D5A88;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: calc(30% - 52px); /* 30% from top of its container */
}

.projects {
    position: absolute;

    top: 500px; /* Adjust based on the layout */
    left: 357px;
    width: calc(100% - 357px);
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 273.34px;
    border-radius: 24px;
    border: 1.33333px solid #5D5A88;
    height: 294px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 30px; /* Spacing between cards */
}

.project-name {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.card button {
    width: 228.25px;
    height: 40.23px;
    font-size: 18px;
    background: #FFFFFF;
    border: 1.33333px solid #5D5A88;
    border-radius: 16px; /* 40% of height */
    cursor: pointer;
    color: #5D5A88;
    margin-top: calc(30% - 40.23px); /* 30% from top of its container */
}
