body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title-bar {
    text-align: center;
    width: 100%; /* Ensures full width */
}

.title-bar h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 80px;
    font-weight: regular;
    font-size: 28px;
    color: rgba(25, 75, 255, 1);
}

.separator.large {
    position: absolute;
    left: 355px;
    top: 119px; /* Adjust if needed */
    right: 0;
    background-color: #5D5A88;
    height: 2px;
}


}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 100px;
}

.team-list {
    position: absolute;
    width: 970px;
    height: 378px;
    left: 500px;
    top: 179px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.team-list h2 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.team-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.table-header div {
    width: 45%;
    text-align: center;
}

.team-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #9747FF;
    border-radius: 15px;
    margin: 10px;
}

.team-data{
    margin: 5px;
}

.form-container {
    position: absolute;
    width: 458px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.add-member {
    left: 500px;
    top: 627px;
    align-items: center;
}

.search-member {
    left: 1000px;
    top: 627px;
}

form h3 {
    margin-top: 0;
    text-align: center;
}

input[type="email"] {
    width: calc(100% - 40px);
    height: 25px;
    margin: 10px 0;
    padding: 10px;
    background: #F9F9FF;
    border-radius: 50px;
    border: 1px solid #ccc;


}

.qfd_button {
    width: 50%;
    height: 40px;
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

qfd_button:hover {
    background-color: #4c4873;
}
