body, html {
    height: 100%;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F9FF; /* Цвет фона */
}

.registration-container {
    box-sizing: border-box;
    width: 519px;
    height: 440px;
    background: #FFFFFF;
    border: 2px dashed #9747FF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0; /* Верхний и нижний отступ для равномерного распределения */
}

.input-field {
    width: 419px;
    height: 46px;
    background-color: #F9F9FF;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    gap: 20px; /* Пространство между иконкой и текстом */
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #9795B5; /* Цвет текста */
}

button {
    width: 200px;
    height: 54px;
    padding: 10px 15px;
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.button:hover {
    background-color: #8071A6;
}
.icon {
    margin-right: 10px;
    width: 19px;
    height: 18px;

@media (max-width: 768px) {
    .registration-container {
        width: 80%; /* Адаптация ширины */
        padding: 20px 0;
    }
    .input-field {
        width: 90%;
        padding: 10px 20px; /* Уменьшенные отступы для мобильных устройств */
    }
}
